<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button expand="block" (click)="openAddModal()">Nuevo</ion-button>
    </ion-buttons>
    <ion-title>Bus</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>Buses</ion-list-header>
    <ion-item-sliding *ngFor="let bus of buses">
    <ion-item lines="none">
      <ion-icon aria-hidden="true" slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
      <ion-label>{{bus.licensePlate}}</ion-label>
      <ion-label>{{bus.brand}}</ion-label>
      <ion-label>{{bus.model}}</ion-label>
      <ion-label>{{bus.seats}}</ion-label>
    </ion-item>
    <ion-item-options side="end">
      <ion-buttons slot="end">
        <ion-button expand="block" color="primary" (click)="openUpdateModal(bus.id)">Editar</ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button color="danger"  (click)="deleteBus(bus.id)">Eliminar</ion-button>
      </ion-buttons>
    </ion-item-options>
  </ion-item-sliding>
  </ion-list>
  <ion-alert
    [isOpen]="isAlertOpen"
    header="Eliminar producto"
    [buttons]="alertButtons"
    (didDismiss)="setOpenAlert(false)"></ion-alert>
    
    <ion-toast
    [isOpen]="isToastOpen"
    message={{message}}
    [duration]="5000"
    (didDismiss)="setOpen(false)"></ion-toast>
</ion-content>

