<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Registrar Bus</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list [formGroup]="formBus">
    <ion-item>
      <ion-input type="text" label="License Plate" label-placement="floating" placeholder="ingrese matricula" #licensePlate formControlName="licensePlate"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-input  type="text" label="Brand" label-placement="floating"  placeholder="ingrese marca" #brand formControlName="brand"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" label="Model" label-placement="floating" placeholder="ingrese modelo" #price formControlName="model"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="number" label="Seats" label-placement="floating" placeholder="ingrese cantidad de asientos" #seats formControlName="seats"></ion-input>
    </ion-item>
  </ion-list>
  
  <ion-button *ngIf="formBus.valid" expand="block" (click)="formSubmit()">Guardar</ion-button>
  <ion-toast
    [isOpen]="isToastOpen"
    message={{message}}
    [duration]="5000"
    (didDismiss)="setOpen(false)"
  ></ion-toast>
</ion-content>
